html
{
    height: 100%;
}

body
{
    margin: 16px;
    background-color: black;
    color: white;
    font-family: courier;
    font-size: 16px;
    text-align: center;
    border: 1px solid green;
    height: 100%;
}

.authenticationBlock
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.authenticationForm
{
    border: 1px solid white;
    padding: 16px;
    margin: auto;
    margin-top: 16px;
    width: 256px;
}

.authenticationField
{
    margin-bottom: 8px;
}

.authenticationButton
{
    margin-top: 8px;
    margin-bottom: 16px;
}

.documentBlock
{
    border: 1px solid white;
    width: 300px;
    margin: auto;
    margin-top: 16px;
    padding: 16px;
}

.editForm
{
    border: 1px solid yellow;
    height: 100%;
}

button
{
    border: 1px solid white;
    color: white;
    background-color: black;
    font: inherit;
    padding: 4px;
    cursor: pointer;
}

input
{
    font: inherit;
    border: 1px solid white;
}

input:focus
{
    font: inherit;
    outline: 0;
    border: 1px solid red;
}

input:target
{
    background-color: yellow;
}

button:focus
{
    outline: 0;
    background-color: white;
    color: red;
    border: 1px solid red;
}

a
{
    outline: 0;
    color: white;
    margin-top: 16px;
}

h1
{
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    margin: 16px 0 0 0;
}

p
{
    margin: 8px 0;
}

table
{
    width: 100%;
    margin-top: 16px;
}

textarea
{
    resize: none;
    width: 100%;
    height: 100%;
    font: inherit;
    margin: 16px 0;
}
